<!DOCTYPE html>
<html>
  <head>
    <title>Pushincloud</title>
  </head>
  <body>
    Pushincloud API Key申请成功:

    app_id: <%=h @app_id %>
    key: <%=h @key %>

    点击下面地址查看如何使用:

    <%=h @url %>
  </body>
</html>

